<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImageDiff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ImageDiff.Properties.Settings>
            <setting name="EnableCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="RightDescription" serializeAs="String">
                <value />
            </setting>
        </ImageDiff.Properties.Settings>
    </userSettings>
</configuration>
